@using Faysal.Helpers
@inject IHttpContextAccessor HttpContextAccessor

@{
    Layout = null;

    var context = HttpContextAccessor.HttpContext;
    var culture = new System.Globalization.CultureInfo("he-IL");
    decimal default_shipping_charge = 0;
    decimal cart_shipping_charge = 0;
    decimal free_shipping_marker = 0;
    decimal free_shipping_deficit = 0;
    ViewData["callingPage"] = "CART";

    // read back as string
    string? totalStr = context.Session.GetString("Cart_OrderTotal");
    var deficitStr = context.Session .GetString("Cart_FreeShippingDeficit") ?? "0";
    var Default_Free_Shipping_Marker = context.Session.GetString("Default_Free_Shipping_Marker") ?? "0";
    var Default_Shipping_Charge = context.Session.GetString("Default_Shipping_Charge") ?? "0";

    try { default_shipping_charge = Convert.ToDecimal(Default_Shipping_Charge); } catch { }
    try { free_shipping_marker = Convert.ToDecimal(Default_Free_Shipping_Marker); } catch { }


    // parse back to decimal
    decimal order_total = 0;
    if (!string.IsNullOrEmpty(totalStr))
    {
        order_total = decimal.Parse(totalStr, new System.Globalization.CultureInfo("he-IL"));
    }


  

}
<section class="wel_sec">
    <div class="container" >

        <div class="B">
            <div class="B">
                <div class="A">
                    <img class="ordersLogo" src="/images/s_logo.png" />
                    <span style="z-index:9999;font-size:16px;color:white;float:left;padding-left:10px;direction:ltr;display:none" onclick="window.location.href = '/?go=orderenglish';"><span> 🌐 </span>For English, click here</span>
                    <div class="B" style="float:left">
                
                        <div class="ordersSmallButtons" style="float:left">
                            <img src="images/call.png" class="ordersSmallButtons" />
                        </div>
                    </div>

                </div>

            </div>

            <div class="A">
                    <div class="B"  style="text-align:center;">
                     <div class="OrderIntroMsg" style="text-align:center;">
                            ההזמנה שלך
                            @if (order_total < free_shipping_marker)
                            {
                                <div class="OrderIntroSubMsg" style="font-size:14px;">
                                    משלוח חינם בהזמנה מעל <b>@free_shipping_marker.ToString("C0", culture)</b>
                                </div>
                            }
                            else
                            {
                                <div class="OrderIntroSubMsg" style="font-size:14px;">
                                    המשלוח שלך בחינם!
                                </div>
                            }


                        </div>

                    </div>


                    <div class="B" >
                       <div class="B" id="CheckoutItemsDiv">
                            @await Html.PartialAsync("Shared/Partials/_CheckoutItems")
                        </div>
                    </div>
                    
                    <div class="B" style="text-align:center;" id="CartActionDiv">
                    <div class="Spacer50"></div>
                        <button class="checkuotBtn" type="button" onclick="PageLoad('ORDERS');" style="background-color:var(--green);float:right">&lt; חזרה</button>
                        <button class="checkuotBtn" type="button" onclick="AjaxActions('ClearCart', '', 'MainLoader', '');" style="background-color:#a6a06f">איפוס</button>
                    <button class="checkuotBtn" type="button" onclick="hideElement('CartActionDiv');showElement('CartCheckoutDiv');Accordionize('AccCartCheckout');" style="float:left;">לצקאאוט &gt; </button>

                    </div>

                <div class="B" id="CartCheckoutDiv" style="display:none">
                        <button class="accordion" id="AccCartCheckout" style="display:none"></button>
                        <div class="panel" style="padding:0;margin:0">
                            @await Html.PartialAsync("Shared/Partials/_CartCheckout")
                        </div>

                    <div class="A" style="text-align:center;">
                        <div class="regErrMsg2" id="ErrorMsgDiv"></div>

                        <button class="checkuotBtn" type="button" onclick="PageLoad('ORDERS');" style="background-color:var(--green);float:right">&lt; חזרה</button>
                        <button class="checkuotBtn" type="button" onclick="AjaxActions('ClearCart', '', 'MainLoader', '');" style="background-color:#a6a06f">איפוס</button>
                        <button class="checkuotBtn" type="button" onclick="sbload('MainSb','Caller?p1=OrderReview','MainLoader','CalcItemCostForm',true);" style="float:left">סקירת ההזמנה &gt;</button>
                    </div>

                    </div>










            </div>
        </div>
    </div>
</section>


