@using Faysal.Helpers
@inject IHttpContextAccessor HttpContextAccessor

@{
    Layout = null;
    var context = HttpContextAccessor.HttpContext;
    var Request = context.Request;
    var culture = new System.Globalization.CultureInfo("he-IL");
    string? member_nick = HttpContextAccessor.HttpContext!.Session.GetString("member_nick");

    string Param(string key) =>
        Request.HasFormContentType && Request.Form.ContainsKey(key)
            ? Request.Form[key].ToString()
            : Request.Query.ContainsKey(key)
                ? Request.Query[key].ToString()
                : "";

    int u_id = 0; try { u_id = WebSecurity.CurrentUserId; } catch { }
    var db = Database.Open("faysal");
    var sqlSelect = "";

    sqlSelect = "SELECT id,ts,q,a,likes FROM faq ORDER BY sort_order";
    var faqs = db.Query(sqlSelect, u_id);
    db.Close();
}

<section class="wel_sec">
    <div class="container">

        <div class="top_spacer"></div>
        <div class="mainGreet">שלום @member_nick
            <div class="LogOffBtn" onclick="AjaxActions('Logout');">התנתקות</div>
        
        </div>
        <img class="logo" style="margin:5px;" src="images/newlogo.png" />
        <div class="MainMenuTitle">
            שאלות נפוצות

        </div>
        <div class="B">



            @foreach(var faq in faqs)
            {
                <div class="B">
                    <div class="MainMenuBtn" onclick="Accordionize('faq_@faq.id');">
                        @faq.q
                    </div>
                    <div class="B" style="text-align:center">
                        <center>
                            <button class="accordion" id="faq_@faq.id" style="display:none"></button>

                            <div class="panel" style="width:90%;padding:0">

                                <div class="PropItemQuanMenu" style="padding:10px;">
                                    @faq.a
                                </div>



                            </div>

                        </center>

                    </div>
                </div>

            }

           
     
            <div class="B">
                <div class="MainMenuCloseBtn" onclick="controller.open('MainMenu'); ">סגירת תפריט
                    <img class="MainMenuIcon" src="~/images/x.png" />
                </div>
                
            </div>


        </div>

    </div>
    </section>

