@using Faysal.Helpers
@inject IHttpContextAccessor HttpContextAccessor

@{
    <section class="wel_sec" style="text-align:center">
        <div class="container">
        <div class="Spacer20"></div>
            <div class="B" style="text-align:center">
                <div class="B">
                    <img class="logo" src="images/newlogo.png" />
                </div>
                <div class="loginHeader">
                    <b>הרשמה</b>
                </div>
                <div id="NewRegDiv" class="RegFormBg" >
                    <form id="NewUserRegForm">
                     
                        <div class="Chkout_TbRow">
                            <div class="CkotPropRow">
                                <div class="Chkout_TbRTite" style="float:right">
                                    שם מלא<span class="reqField">*</span>
                                </div>
                                <input type="text" class="Chkout_tb" id="prospect_name" name="prospect_name"  />
                            </div>
                        </div>

                        <div class="Chkout_TbRow">
                            <div class="CkotPropRow">
                                <div class="Chkout_TbRTite" style="float:right">
                                    עיר מגורים<span class="reqField">*</span>
                                </div>
                                <input type="text" class="Chkout_tb" id="city" name="city" />
                                
                            </div>
                        </div>

                        <div class="Chkout_TbRow">
                            <div class="CkotPropRow">
                                <div class="Chkout_TbRTite" style="float:right">
                                    אני
                                </div>
                                <div class="B" >
                                    <select class="Chkout_tb"  id="gender" name="gender" >
                                        <option value="0">נא לבחור..</option>
                                        <option value="1">זכר</option>
                                        <option value="2">נקבה</option>
                                        <option value="-1">אחר.ת</option>

                                    </select>
                                </div>
                                
                            </div>
                        </div>




                        <div class="Chkout_TbRow">
                            <div class="CkotPropRow">
                                <div class="Chkout_TbRTite" style="float:right;text-align:right;">
                                    <div class="B">
                                        תאריך לידה<span class="reqField">*</span>
                                    </div>
                                    <div class="JoinPropSubTitle">
                                        ההרשמה מגיל 18!
                                    </div>

                                </div>
                                <input class="Chkout_tb" type="date" id="birth_date" name="birth_date"  />
                            </div>
                        </div>

                        <div class="Chkout_TbRow">

                            <div class="CkotPropRow">
                                <div class="Chkout_TbRTite">#ווטסאפ<span class="reqField">*</span></div>
                                <input class="Chkout_tb" type="text" name="wanum" />


                            </div>
                        </div>

                     

                        <div class="Chkout_TbRow">
                            <div class="CkotPropRow">
                                <div class="Chkout_TbRTite" style="float:right">
                                    יוזר טלגרם
                                </div>
                                <input class="Chkout_tb" type="text" name="tlg_nick" />
                            </div>
                            </div>

                        <div class="Chkout_TbRow">
                            <div class="CkotPropRow">
                                <div class="Chkout_TbRTite" style="float:right">
                                    <div class="B">
                                        כתובת מייל<span class="reqField">*</span>
                                    </div>
                                    <div class="JoinPropSubTitle">
                                        לאיפוס הסיסמא
                                    </div>

                                </div>
                                <input type="text" class="Chkout_tb" name="email" />

                            </div>
                        </div>

                        <div class="Chkout_TbRow">
                            <div class="CkotPropRow">
                                <div class="Chkout_TbRTite" style="float:right">
                                    <div class="B">
                                        פייסבוק
                                    </div>
                                    <div class="JoinPropSubTitle">
                                        לאימות בלבד
                                    </div>
                                </div>
                                <input class="Chkout_tb" type="text" id="fb" name="fb" />
                            </div>
                        </div>


                        <div class="Chkout_TbRow">
                            <div class="CkotPropRow">
                                <div class="Chkout_TbRTite" style="float:right">
                                    <div class="B">
                                        אינסטגרם
                                    </div>
                                    <div class="JoinPropSubTitle">
                                        לאימות בלבד
                                    </div>
                                    
                                </div>
                                <input class="Chkout_tb" type="text" id="instagram" name="instagram" />
                            </div>
                        </div>


                        <div class="Chkout_TbRow">
                            <div class="CkotPropRow">
                                <div class="Chkout_TbRTite" style="float:right">
                                    איך הגעת אלינו? <span class="reqField">*</span>
                                </div>
                                <div class="B">
                                    <select class="Chkout_tb" id="ref_source" name="ref_source" onchange="hideElement('ref_source_other');hideElement('ref_source_desc');if(this.value=='ref'){showElement('ref_source_desc');} if(this.value=='other'){showElement('ref_source_other');}">
                                        <option value="">נא לבחור..</option>
                                        <option value="google">גוגל</option>
                                        <option value="instagram">אינסטגרם</option>
                                        <option value="fb">פייסבוק</option>
                                        <option value="barcode">סרקתי ברקוד</option>
                                        <option value="ref">דרך חבר.ה</option>
                                        <option value="other">בדרך אחרת</option>
                                    </select>

                                </div>
                                <div class="B" style="text-align:center;overflow:hidden;">
                                    <center>
                                            <div style="overflow: auto; ">
                                                <input type="text" class="Chkout_tb" id="ref_source_desc" name="ref_source_desc" maxlength="100" style="display:none;" placeholder="# ווטסאפ של הממליצ.ה" />
                                            </div>
                                            <div style="overflow: auto;">
                                                <input type="text" class="Chkout_tb" id="ref_source_other" name="ref_source_other" maxlength="100" style="display:none;" placeholder="נא לפרט.." />
                                            </div>
                                    </center>
                                    
                                </div>
                            </div>
                        </div>





                        <div class="Chkout_TbRow" style="margin-top:20px">
                            <div class="CkotPropRow" style="border:0">
                                <div class="Chkout_TbRTite" style="float:right;color: rgba(171, 108, 0, 1);">
                                    <input type="checkbox" name="is_terms" class="A" />
                                    <span>קראתי והסכמתי <span onclick="sbload('SubMenu','Caller?p1=RegStatementHeb');"><b><u><span style="cursor:pointer;">לתנאי השימוש</span></u></b></span><span class="reqField">*</span></span>
                                </div>
                            </div>

                        </div>
                    

                    </form>
                    
                </div>
                <div class="A">
                    <div class="Spacer5"></div>
                    <div style="overflow:auto;" id="prospectJoinActions">
                        <div class="regErrMsg2" id="prospectJoinValidationError"></div>


                    </div>
                    <div class="Spacer10"></div>
                    <div class="Spacer5"></div>
                    <div class="B" style="text-align:center;">
                        <button type="button" class="checkuotBtn" style="background-color:#a6a06f;float:right;width:30%" onclick="controller.close('MainSb');">ביטול</button>
                        <button type="button" class="checkuotBtn" style="float:left;width:50%;" onclick="AjaxActions('RegisterProspect', '', 'MainLoader', 'NewUserRegForm');">הרשמה</button>

                    </div>
                </div>
                
            </div>
        </div>
    </section>





}
