@using Faysal.Helpers
@inject IHttpContextAccessor HttpContextAccessor

@{
    Layout = null;
    var context = HttpContextAccessor.HttpContext;
    var Request = context.Request;
    var culture = new System.Globalization.CultureInfo("he-IL");
    string? member_nick = HttpContextAccessor.HttpContext!.Session.GetString("member_nick");

    string Param(string key) =>
        Request.HasFormContentType && Request.Form.ContainsKey(key)
            ? Request.Form[key].ToString()
            : Request.Query.ContainsKey(key)
                ? Request.Query[key].ToString()
                : "";

    int u_id = 0; try { u_id = WebSecurity.CurrentUserId; } catch { }
    var db = Database.Open("faysal");
    var sqlSelect = "";

    sqlSelect = "SELECT TOP(5) order_id,ts,order_status,grand_total FROM ordertracking WHERE u_id=@0 ORDER BY ts DESC";
    var orders = db.Query(sqlSelect, u_id);
    db.Close();
}

<section class="wel_sec">
    <div class="container">

        <div class="top_spacer"></div>
        <div class="mainGreet">שלום @member_nick
            <div class="LogOffBtn" onclick="AjaxActions('Logout');">התנתקות</div>
        
        </div>
        <img class="logo" style="margin:5px;" src="images/newlogo.png" />
        <div class="MainMenuTitle">
            אזור אישי
        </div>
        <div class="B">





            <div class="B">
                <div class="MainMenuBtn" onclick="PageLoad('ORDERS');controller.close('BottomUp');">היסטוריית הזמנות
                    <span class="MainMenuIcon">&gt;</span>

                </div>
            </div>

            <div class="B">
                <div class="MainMenuBtn" onclick="PageLoad('ORDERS');controller.close('BottomUp');">שינוי סיסמא
                    <span class="MainMenuIcon">&gt;</span>

                </div>
            </div>



            <div class="B">
                <div class="MainMenuBtn" onclick="sbload('BottomUp','Caller?p1=MemberInfo');">
                    עדכון פרטים
                    <img class="MainMenuIcon" src="~/images/members.png" />
                </div>
            </div>



            <div class="B">
                <div class="MainMenuBtn" onclick="PageLoad('ORDERS');">הכתובות שלי 
                    <span class="MainMenuIcon">?</span>
                </div>
            </div>


            <div class="B">
                <div class="MainMenuCloseBtn" onclick="controller.open('MainMenu'); ">סגירת תפריט
                    <img class="MainMenuIcon" src="~/images/x.png" />
                </div>
                
            </div>


        </div>

    </div>
    </section>

