@using Faysal.Helpers
@inject IHttpContextAccessor HttpContextAccessor

@{
    <section class="wel_sec" style="text-align:center">
        <div class="container">
            <div class="B" style="text-align:center">
                <div class="B">
                    <img class="logo" src="images/newlogo.png" />
                </div>
                <div class="loginHeader">
                    <b>תנאי השימוש</b>
                </div>
                <div class="A">
                <div class="RegFormBg" style="color:var(--green);font-size:16px;" >
                    <div class="B">הריני לאשר כי אני מעל גיל 18, כי אני צלול.ה בדעתי, וכי מסיבותיי האישיות בין אם רפואיות או אחרות זו היא בחירתי החופשית והמושכלת לצרוך קנאביס.</div>
                    <div class="B">אני סבור.ה שהמניעה בכח של השימוש בעשב מרפא זה לאחר שבחרתי מרצוני החופשי לעשות בו שימוש מהווה התערבות גסה בחיי והפרה חמורה של חירותי האישית מצד רשויות המדינה הנעשית ללא כל סמכות, וזו היא בחירתי החופשית והמודעת לסרב ולקבל על עצמי עריצות שלטונית זו אשר מבחינתי הינה חסרת כל תוקף מוסרי.</div>
                    <div class="B">אני מצהיר.ה כי אני שותף.ה לאמונה הקובעת כי מניעת קנאביס מאלו הבוחרים להשתמש בו מהווה פשע חמור כנגד המין האנושי אשר שום אדם הגון ובר דעת אינו יכול להסכים לו וכי מרצוני החופשי אני בוחר.ת להפר את החוקים אשר בחסותם נעשה פשע זה.</div>
                    <div class="B">אני מצהיר.ה כי איני פועל.ת מטעמה של רשות אכיפת חוק כלשהי וכי אני מבקש.ת להצטרף לארגון מתוך רצוני החופשי והתמיכה במטרותיו.</div>
                    <div class="B" style="text-align:center;margin-top:15px;"><h2>תחי המחתרת!</h2></div>

                       
                    </div>

                    <div class="Spacer20"></div>
                    <div class="A" style="text-align:center">
                        <button class="checkuotBtn" style="width:50%;" type="button" onclick="controller.open('MainSb');">סגירה</button>
                    </div>

                </div>
                
                <br />
                

            </div>
        </div>
    </section>






}
