@font-face {
    font-family: "Noyland"; /* Name you’ll use in CSS */
    src: url("/fonts/noyland-regular-aaa.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "NoylandBold"; /* Name you’ll use in CSS */
    src: url("/fonts/noyland-bold-aaa.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "NoylandStencil"; /* Name you’ll use in CSS */
    src: url("/fonts/noyland-stencil-aaa.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
:root {
    --background: rgba(237, 231, 213, 1);
    --green: rgba(13, 65, 51, 1);
    --brown: rgba(171, 108, 0, 1);
    --variable-collection-light-green: rgba(166, 160, 111, 1);
    --variable-collection-whit: rgba(255, 255, 255, 1);
    --variable-collection-dark-brown: rgba(56, 45, 26, 1);
}

body {
    padding: 0;
    margin: 0;
    font-family: Noyland;
    background-color: #ede7d5;
}

a, button {
    outline: none !important;
    text-decoration: none;
    box-shadow: none;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

    a:hover, a:focus, select:focus, button:focus, .btn:focus, btn.focus {
        outline: none;
        text-decoration: none;
        box-shadow: none;
    }

* {
    margin: 0;
    padding: 0;
}

img {
    border: none;
    vertical-align: middle;
    max-width: 100%;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    outline: none !important;
}

input, select, textarea, button {
    outline: none !important;
    box-shadow: none;
}

input, textarea, select { /*-moz-appearance: none; -webkit-appearance: none;*/
    box-shadow: none !important;
}

.container {
    max-width: 450px;
    min-width: 380px;
    margin: 0 ;
    padding: 0;
}

.top_spacer {
    overflow:auto;
    height:50px;
}

/**index page**/
.hero_sec {
    margin: 0 ;
    padding: 0;
    background-color: #ede7d5;
}

.logo {
    max-height: 250px;
    width: 250px;
    padding: 0;
    text-align: center;
}

.ordersLogo {
    max-height: 100px;
    width: 100px;
    margin:10px;
    text-align: center;
    float:right;
}

.ordersSmallButtons {
   overflow:auto;
   float:left;
   margin-right:5px;

}

img.ordersSmallButtons {
    float: left;
    height: 40px;
    max-width: 40px;
    margin: 1px;
}
.mainGreet {
    font-family: Noyland;
    font-size: 24px;
    font-weight: bold;
    color: var(--green);
    margin:5px;
}

.caption {
    width: 100%;
    float: right;
    margin: 200px auto 0;
    padding: 0;
}

    .caption h1 {
        font-family: 'Tahoma', sans-serif;
        font-weight: normal;
        font-size: 76px;
        line-height: 102px;
        margin: 0;
        text-align: center;
        padding: 0;
        color: #fefefe;
        letter-spacing: 1.52px;
        margin-bottom: 50px;
    }

        .caption h1 strong {
            font-size: 114px;
            line-height: 102px;
            color: #fefefe;
            clear: both;
            font-weight: bold;
            letter-spacing: 2.28px;
            display: block;
        }

    .caption a {
        font-size: 33px;
        line-height: 80px;
        font-weight: 400;
        color: #d9e9e0;
        background: #0b0101;
        cursor: pointer;
        outline: 0;
        border: none;
        text-align: center;
        border-radius: 40px;
        display: table;
        width: 350px;
        max-width: 350px;
        margin: 0 auto;
        letter-spacing: 0.66px;
    }

        .caption a:hover {
            color: #0b0101;
            background: #d9e9e0;
        }



/**welcome page**/

.wel_sec {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ede7d5;
    border-radius: 20px;
    text-align: center;

}


/**Registration page**/
.reg_sec {
    width: 100%;
    float: right;
    margin: 0 auto;
    padding: 0px;
    background-repeat: repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
}
.simg {
    text-align: center;
}


/**content page**/
/**Form page**/


.box_details {
    width: 100%;
    clear: both;
    background-color: #fff;
    padding: 5px;
    padding-bottom: 15px;
    margin: 5px;
    border-radius: 5px;
    max-width: 350px;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #231f20;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #231f20;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #231f20;
}

:-moz-placeholder { /* Firefox 18- */
    color: #231f20;
}


.select1 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    box-shadow: -1px 9px 0px 0px rgba(14, 4, 4, 1) !important;
    background: #5c6664;
    flex: 1;
    color: #231f20;
    cursor: pointer;
    font-size: 1em;
    width: 349px;
    height: 45px;
    font-size: 28px;
    line-height: 45px;
    background: #f8f8f8;
    border-radius: 5px;
    font-family: 'Tahoma', sans-serif;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    padding: 0 20px 0 7px;
    margin: 0 0 25px;
    background: url('../images/selectarrow.png') no-repeat #f8f8f8;
    background-position: 10px 14px;
}

    .select1::-ms-expand {
        display: none;
    }

    .select1:focus {
        background: url('../images/selectarrowopen.png') no-repeat #f8f8f8;
        background-position: 10px 14px;
    }


input.PropSelector {
    padding: 5px;
    margin-top: 5px;
    font-size: 18px;
    width: 70%;
    font-weight: bold;
    float: left;
    border-radius:20px;
        
}


input.Chkout_tb {
    padding: 5px;
    padding-right: 10px;
    margin: 5px;
    font-size: 18px;
    width: 65%;
    float: left;
    border-radius: 20px;
    border: 0;
    font-family: Noyland;
    background-color: var(--background);
    color: var(--brown);
    font-weight: normal;
}

input.RegCode_tb {
    padding: 10px;
    margin: 10px;
    font-size: 24px;
    width: 70%;
    
    border-radius: 20px;
    border: 0;
    font-family: Noyland;
    background-color: var(--background);
    color: var(--brown);
    font-weight: normal;
}

    input.Chkout_tb::placeholder {
        color: rgba(166, 160, 111, 1);
        font-weight: normal;
    }


textarea.Chkout_tb {
    padding: 5px;
    padding-right: 10px;
    margin: 5px;
    font-size: 18px;
    width: 65%;
    color: var(--brown);
    font-weight: normal;
    float: left;
    border-radius: 20px;
    border: 0;
    field-sizing: content; /* ✨ */
    min-block-size: 3lh; /* start at ~3 lines */
    max-block-size: 400px; /* stop growing after this */
    overflow: auto;
    resize: none;
    font-family: Noyland;
    background-color: var(--background);
}

textarea.Chkout_tb2 {
    padding: 5px;
    font-size: 18px;
    color: var(--brown);
    font-weight: normal;
    border-radius: 20px;
    border: 0;
    width: 95%;
    max-width: 95%;
    min-width: 95%;
    field-sizing: content; /* ✨ */
    min-block-size: 3lh; /* start at ~3 lines */
    max-block-size: 400px; /* stop growing after this */
    overflow: auto;
    resize: none;
    font-family: Noyland;
    background-color: var(--background);
}



select.QuanSelector {
    padding: 2px;
    margin: 2px;
    font-size: 16px;
    font-weight: bold;
}

select.PropSelector {
    padding: 5px;
    margin-top: 5px;
    font-size: 18px;
    width: 70%;
    font-weight: bold;
    float: left
}
select.Chkout_tb {
    padding: 5px;
    padding-right: 10px;
    font-size: 18px;
    width: 70%;
    text-align:left;
    color: var(--brown);
    font-weight: normal;
    float: left;
    border-radius: 20px;
    border: 0;
    font-family: "Noyland";
    color: var(--brown);
}

    select.PropSelector::-ms-expand {
    }

    select.PropSelector:focus {
    }

select.A {
    padding: 5px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}




div.shippingInfoReview {
    margin: 5px;
    padding: 5px;
    color: var(--green);
}
/* General Styles
---------------------------------*/
.spinner {
    width: 70px;
    text-align: center;
}

    .spinner > div {
        width: 14px;
        height: 14px;
        background-color: #808080;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

button.accordion.active, button.accordion:hover {
    background-color: #fff;
    border: 0;
}

button.accordion:after {
    content: '';
    color: #57d600;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    background-color: #fff;
}

button.accordion.active:after {
    content: "";
    background-color: #fff;
}

div.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

div.tooltip {
    overflow: auto;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #dfffbd;
    border-radius: 5px;
    color: black;
    width: 90%;
}

div.fldLabel {
    overflow: auto;
    color: black;
    font-size: 18px;
    padding: 5px;
    margin:5px;
    border-radius:20px;
    font-weight: bold;
    background-color: #0d4133;

}

div.Chkout_TbRow {
    overflow: auto;
    color: black;
    font-size: 18px;
    padding: 0;
    margin: 0;
    
}

div.Chkout_question {
    float: right;
    color: rgba(171, 108, 0, 1);
    font-weight: normal;
    padding:5px;
    margin-top:10px;


}

span.Chkout_question_pad {
    padding-right: 15px;
}
div.PropItemSelection {
    overflow: auto;
    color: black;
    font-size: 18px;
    padding-right: 5px;
    padding-left: 5px;
    padding: 1px;
    margin:5px;
    margin-bottom:0;
    border-radius:20px;
    background-color: var(--green);

}
div.OrderMakerSpacer {
    overflow: auto;
    height:10px;

}
div.Spacer10 {
    overflow: auto;
    height:10px;

}

div.Spacer20 {
    overflow: auto;
    height:20px;

}

div.Spacer5 {
    overflow: auto;
    height:5px;

}

div.Spacer50 {
    overflow: auto;
    height:50px;

}

div.Spacer100 {
    overflow: auto;
    height:100px;

}

div.PropItemMenu {
    overflow: auto;
    background-color: #fff;
    text-align: right;
    min-height:100px;
    margin-bottom: 20px;
    padding:10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
div.PropItemQuanMenu {
    overflow: auto;
    background-color: #fff;
    text-align: right;
    min-height:100px;
    margin-bottom: 20px;
    padding:0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
div.PropItem {
    overflow: auto;
    background-color: #fff;
    border: 2px solid #0d4133;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    color: #0d4133;
    font-size: 18px;
    font-family: Noyland;
    float:right;
}
div.PropItem:hover {
    overflow: auto;
    background-color: #0d4133;
    border: 2px solid #0d4133;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    font-family: Noyland;
    float:right;
}

div.PropMixtureItem {
    overflow: auto;
    background-color: var(--green);
    margin: 5px;
    padding: 10px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius: 20px;
    color: var(--green);
    font-size: 18px;
    font-family: Noyland;
    text-align: center;
    width: 90%;
}




div.PropPaperItem {
    overflow: auto;
    background-color: #fff;
    border: 2px solid #0d4133;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    color: #0d4133;
    font-size: 18px;
    font-family: Noyland;
    clear:both;
    text-align:center;
    
}

div.PropItemFull {
    overflow: auto;
    background-color: #fff;
    border: 2px solid #0d4133;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    color: #0d4133;
    font-size: 18px;
    font-family: Noyland;
    clear:both;
    text-align:center;
    
}
div.PropItem-R {
    overflow: auto;
    background-color: #fff;
    border: 2px solid #0d4133;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    color: #0d4133;
    font-size: 18px;
    font-family: Noyland;
    float: right;
    width: 40%;
    direction: rtl;
    text-align: center;
}
div.PropItem-L {
    overflow: auto;
    background-color: #fff;
    border: 2px solid #0d4133;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    color: #0d4133;
    font-size: 18px;
    font-family: Noyland;
    float: left;
    width: 40%;
    direction: rtl;
    text-align: center;
}
span.PropItem-N {
    background-color: #fff;
    margin: 10px;
    
    border-radius: 20px;
    color: #0d4133;
    font-size: 18px;
    font-family: Noyland;
    direction: rtl;
    text-align: center;
}
img.quan_icon{
    height:10px;
    width:auto;
 
}
img.paper_icon {
    
    float: right
}
span.SelectedPropTitle {
    float: left;
    padding-top: 10px;
    font-size: 16px;
    margin: 0px;
    margin-left: 20px;
    color: #ede7d5;
    font-weight: 400;
}
div.PropItemStrain {
    float: right;
    background-color: #fff;
    border-bottom: 2px dotted #ede7d5;
    margin: 5px;
    padding: 5px;
    color: #0d4133;
    font-size: 18px;
    font-family: Noyland;
    width: 90%;
    text-align: right;
}
div.PropItemMixture {
    background-color: #fff;
    border-bottom: 2px dotted #ede7d5;
    margin: 5px;
    padding: 5px;
    color: #0d4133;
    font-size: 18px;
    font-family: Noyland;
    width: 93%;
    text-align: right;
    overflow:auto;
}
div.PropItemStrainTitle {
    float: right;
    background-color: #fff;
    /*border: 2px solid #0d4133;*/
    margin: 15px;
       color: #0d4133;
    font-size: 24px;
    font-family: Noyland;
 }
div.PropItemStrainSubTitle {
    float: right;
    background-color: #fff;
    /*border: 2px solid #0d4133;*/
    margin: 5px;
    color: #ab6c00;
    font-size: 14px;
    font-family: Noyland;
}

button.CartQuanAddBtn {
    padding-right: 10px;
    padding-left: 10px;
    padding: 5px;
    background-color: var(--brown);
    margin: 0;
    font-size: 22px;
    border: 0;
    float: left;
    font-family: Noyland;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    width: 130px;
}
button.OrderPageChkoutBtn {
    padding-right: 10px;
    padding-left: 10px;
    padding: 5px;
    margin: 0;
    font-size: 22px;
    background-color: var(--brown);
    border: 0;
    float: right;
    font-family: Noyland;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-weight: normal;
    width: 210px;
}
button.CartQuanBtn {
    padding: 5px;
    margin: 5px;
    font-size: 24px;
    background: transparent;
    border: 0;
    float: left;
    font-family: Noyland;
    cursor: pointer;
}

div.OrderIntroMsg {
    color: #ab6c00;
    font-size: 22px;
    font-weight:bold;
    font-family: Noyland;
    margin:0;
}
div.OrderIntroSubMsg {
    color: var(--green);
    font-size: 22px;
    font-weight:normal;
    font-family: Noyland;
    margin:5px;
    
}
span.ExpandMenuOption {
    float: left;
    padding: 5px;
    font-size: 24px;
    margin-left: 10px;

}
div.CartQuanLabel {
    background-color: #0d4133;
    /*border: 2px solid #0d4133;*/
    margin: 5px;
    padding: 5px;
    color: #fff;
    font-size: 24px;
    width:26px;
    font-family: Noyland;
    border-radius: 50%;
    float: left;
}
div.CartPriceLabel {
    /*border: 2px solid #0d4133;*/
    text-align:right;
    color: #ab6c00;
    font-size: 30px;
    font-weight:bold;
    font-family: Noyland;
    float: right;
}
div.CartInstructions {
    /*border: 2px solid #0d4133;*/
   
    color: var(--green);
    font-size: 20px;
    font-weight:bold;
    font-family: Noyland;

    
}
div.CartPriceSubLabel {
    /*border: 2px solid #0d4133;*/
    color: #0d4133;
    font-size: 16px;
    font-family: Noyland;
    font-weight: normal;
}
div.CartPriceSubSubLabel {
    /*border: 2px solid #0d4133;*/
    color: var(--brown);
    font-size: 14px;
    font-family: Noyland;
    font-weight: normal;
    padding:2px;
}

button.CartCheckoutBtn {
    padding-right: 10px;
    padding-left: 10px;
    padding: 5px;
    margin: 0;
    font-weight: 600;
    font-size: 22px;
    background-color: var(--brown);
    border: 0;
    float: left;
    font-family: Noyland;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    width: 150px;
}


div.PropItemStrainBtn {
    float: left;
    background-color: #fff;
    margin-top: 25px;
    color: #ab6c00;
    font-size: 24px;
    font-family: Noyland;
    cursor: pointer;
}
    div.PropItemStraiqwn:hover {
        background-color: #0d4133;
        /* border: 2px solid #0d4133;*/
        margin: 5px;
        padding: 5px;
        border-radius: 20px;
        color: #fff;
        font-size: 18px;
        font-family: Noyland;
        float: right;
        width: 90%;
        text-align: center;
    }

div.infLabel {
    overflow: auto;
    color: #000;
    font-size: 22px;
    padding: 0;
    margin-bottom: 10px;
}

div.infLabelTitle {
    overflow: auto;
    font-size: 15px;
    color: rgba(81, 133, 14, 1);
    ;
}

div.errBox {
    overflow: auto;
    font-size: 18px;
    color: red;
    text-align: right;
    background-color: #dfffbd;
    padding: 5px;
    padding-right: 15px;
    margin: 5px;
    border-radius: 5px;
    display: none;
}

div.langChanger {
    overflow: auto;
    color: #dfffbd;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

span.reqField {
    color: red;
    font-weight: 700;
    font-size: 14px;
}

div.A {
    overflow: auto;
    margin: 5px;
    padding: 5px;
}

div.B {
    overflow: auto;
}

div.PropTitle {
    margin-right:10px;
    font-size: 22px;
    float: right;
    padding: 5px;
}

div.Chkout_TbRTite {
    font-size: 16px;
    font-weight: bold;
    float: right;
    padding: 5px;
    margin-top:5px;
    color: var(--green);
}

div.PropRow {
    overflow: auto;
    color: #f8f8f8;
    font-family: "Noyland";
    font-size:24px;
}
div.CkotPropRow {
    overflow: auto;
    color: #f8f8f8;
    font-family: "Noyland";
}

div.OrderFormItem {
    overflow: auto;
    font-size: 16px;
}

div.OrderFormInfoItem {
    overflow: auto;
    font-size: 16px;
    border-bottom: 1px dotted #808080;
}

div.OrderFormPrice {
    float: left;
    font-size: 14px;
}

div.CartInfoItem {
    overflow: auto;
    font-size: 16px;
    border-bottom: 1px dashed var(--background);
    padding: 5px;
    font-weight: bold;
    
    color: var(--variable-collection-light-green);
}

div.CartPrice {
    float: left;
    font-size: 16px;
    font-weight: normal;
    color: var(--brown);
    max-width: 200px; /* set your desired max width */
    white-space: normal; /* allow wrapping */
    word-wrap: break-word; /* wrap long words if needed */
    overflow-wrap: anywhere; /* modern replacement, ensures wrapping */
    text-align:left;
}
div.CartGrams {
    overflow:auto;
    padding:2px;
    margin-right:10px;
    font-size: 16px;
    font-weight: normal;
    color: var(--brown);
     /* set your desired max width */
    white-space: normal; /* allow wrapping */
    word-wrap: break-word; /* wrap long words if needed */
    overflow-wrap: anywhere; /* modern replacement, ensures wrapping */
    text-align: right;
    float:left;
    clear:both;
}

div.CartItemQuanLabel {
    padding:2px;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
    background-color: var(--brown);
    color: #fff;
    font-size: 16px;
    text-align: center; /* centers text horizontally */
    border-radius: 20px;
}

span.MiniTag {
    font-size: 11px;
}

span.MegaTag {
    font-size: 18px;
}


span.Clickable:hover {
    cursor: pointer;
}

div.SettingsLbl {
    overflow: auto;
    float: right;
    padding-right: 5px;
    margin-right: 5px;
}

input.A {
    padding: 5px;
    font-size: 16px;
}

button.A {
    padding: 5px;
    margin: 5px;
    font-size: 16px;
}

button.SettingsRawBtn {
    padding: 5px;
    font-size: 16px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

button.CartSettingsBtn {
    font-size: 14px;
    padding: 5px;
    margin-top: 15px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}

div.SettingsRawActive {
    overflow: auto;
    margin: 5px;
    padding: 5px;
    background-color: #e3e3e3;
    border-bottom: 2px dotted #e3e3e3;
}

    div.SettingsRawActive:hover {
        background-color: #dfffbd;
    }

div .CartRow {
    overflow: auto;
    margin-top:5px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom:10px;
    background-color: #fff;
    border-radius: 20px;
    text-align: right;
    font-family: Noyland;
    font-size: 24px;
}

div .CartRowDesc {
    overflow: auto;
    margin: 0;
    padding: 0;
  
}


div .CartRowTitle {
    overflow: auto;
    margin: 5px;
    padding: 0;
    margin-right:0;
    padding-top:5px;
    font-family: Noyland;
    font-size: 18px;
    font-weight:bold;
    color:var(--green);
}

div .SettingsRaw {
    overflow: auto;
    margin: 5px;
    padding: 5px;
    border-bottom: 2px dotted #e3e3e3;
}

    div.SettingsRaw:hover {
        background-color: #ffffcc;
        border-bottom: 2px dotted #808080;
    }

span.CartBtn {
    float: right;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    color: #0d4133;
    width: 20px;
    height:20px;
    padding-top:1px;
    border-radius: 50%;
    background-color: #ede7d5;
    margin-right: 20px;
    cursor: pointer;
    font-family: Noyland;
}

    span.CartBtn:hover {
        color: #ab6c00;
    }

div.CartNotification {
    position: relative;
    float: right;
    top: 0;
    right: 20px;
    background-color: #f00;
    color: #fff;
    font-size: 16px;
    width: 18px; /* equal width & height → circle */
    height: 18px;
    text-align: center; /* centers text horizontally */
    border-radius: 50%;
    line-height: 20px;
}

div.CartNotification1 {
    float: right;
    background-color: #fff;
    color: var(--brown);
    font-size: 16px;
    width: 18px; /* equal width & height → circle */
    height: 18px;
    text-align: center; /* centers text horizontally */
    border-radius: 50%;
    margin-top:2px;
    margin-left:2px;
    line-height:18px;
    font-weight:bold;
}


div.CartIemPrice {
    float: left;
    font-size: 20px;
    color: #0d4133;
    font-family:Noyland;
}

div.CartItmChangeBtn {
    float: right;
    margin-right:10px;
    border-radius:20px;
    padding:5px;
    font-size: 16px;
    color: #fff;
    background-color:#f00;
    font-family: Noyland;
}
div.CartTotalContainer {
    overflow:auto;
    float: left;
    padding: 5px;
    font-size: 16px;
    color: #0d4133;
    font-family: Noyland;

}
button.CartTotal {
    float: left;
    margin-right: 10px;
    border-radius: 20px;
    
    padding: 5px;
    padding-left:25px;
    padding-right:25px;
    font-size: 24px;
    color: #fff;
    background-color: #ab6c00;
    font-family: Noyland;
    text-align: center;
    border:0;
}
span.CartTotalMsg {
    float:right;
    padding: 5px;
    padding-top: 10px;
    font-size: 14px;
    color: var(--green);
    font-family: Noyland;
    text-align: center;
}
div.ShCartTotalContainer {
    float: left;
    padding: 5px;
    font-size: 14px;
    color: #0d4133;
  text-align:right;
    font-family: Noyland;

}
div.ShCartTotal {
    float: left;
    margin-right: 10px;
    font-size: 14px;
    color: #0d4133;
    font-family: Noyland;
    text-align:left;
   font-weight:bold;
}
button.checkuotBtn {
    
    border-radius: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 22px;
    color: #fff;
    background-color: #ab6c00;
    font-family: NoylandStencil;
    text-align: center;
    border: 0;
}
button.CartAddMoreBtn {
    border-radius: 20px;
    padding: 2px;
    padding-left: 20px;
    padding-right: 15px;
    font-size: 18px;
    margin-top: 10px;
    color: #fff;
    background-color: #0d4133;
    font-family: Noyland;
    text-align: left;
    border: 0;
    font-weight:lighter;
}

div .PaperColorSelect {
    overflow: auto;
    margin: 0;
    padding: 0;
    text-align: right;
    font-family: Noyland;
    font-size: 18px;
    color:var(--brown);
    text-align:right;
}

div .RegFormBg {
    overflow: auto;
    margin: 5px;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    text-align: right;
    font-family: Noyland;
    font-size: 24px;
}

div.Join_TbRow {
    overflow: auto;
    color: black;
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    font-weight: bold;
}

input.Join_TbRow_disabled {
    overflow: auto;
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    font-weight: bold;
    background: #eee;
    color: #777;
    border: 0;
    direction: ltr;
    text-align:right;
}
div.JoinPropRow {
    overflow: auto;
    color: #f8f8f8;
    font-family: "Noyland";
    font-size: 24px;
    border-bottom: 1px dashed #0d4133;
}
div.JoinPropTitle {
    font-size: 24px;
    font-weight: bold;
    float: right;
    padding-right:1px;
    color: #0d4133;
}
div.JoinPropSubTitle {
    overflow:auto;
    font-size: 12px;
    float: right;
    padding: 1px;
    color: rgba(171, 108, 0, 1);
    font-weight:300;
}
input.Join_tb {
    padding: 5px;
    padding-right: 10px;
    font-size: 18px;
    width: 90%;
    font-weight: bold;
    float: left;
    border-radius: 20px;
    border: 0;
    font-family: "Noyland";
}
input.Login_tb {
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    width: 90%;
    font-weight: bold;
    border-radius: 20px;
    border: 0;
    font-family: "Noyland";
    font-size:24px;
}
select.Join_tb {
    padding: 5px;
    padding-right: 10px;
    font-size: 18px;
    width: 90%;
    font-weight: bold;
    float: left;
    border-radius: 20px;
    border: 0;
    font-family: "Noyland";
}

div.OrderReviewSubAddress {
    overflow:auto;
    color: var(--brown);
    font-size: 14px;
    margin-right:10px;
}

div.OrderReviewAddressItem {
    overflow:auto;
    color: var(--green);
    font-size: 14px;
    margin-right:10px;
    text-align:right;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.heart {
    font-size: 30px;
    color: #e00;
    animation: beat .50s infinite alternate;
    transform-origin: center;
    z-index: 9999;
}

/* Heart beat animation */
@keyframes beat {
    to {
        transform: scale(1.4);
    }
}

img.blinkingCart {
    animation: blinker 1s step-start infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}


div.HomeSlogan {
    font-family: Noyland;
    font-weight: 700;
    color: var(--brown);
    font-size: 28px;
    text-align: center;
    direction: rtl;
    margin: 50px auto 0;

}
div.HomeSubSlogan {
    font-family: Noyland;
    color: var(--brown);
    font-size: 18px;
    text-align: center;
    direction: rtl;
    font-weight:normal;
}

.HomeSlogan2 {
    font-family: Noyland;
    font-weight: 700;
    color: var(--green);
    font-size: 28px;
    text-align: center;
    direction: rtl;
    margin: 50px auto 0;
}

.HomeSubSlogan2 {
    font-family: Noyland;
    color: var(--green);
    font-size: 18px;
    text-align: center;
}

img.group {
    margin: 50px auto 0;
    width: 150px;
    height: 150px;
}

div .frame {
    margin: 50px;
}
div .HomeBtn {
    color: var(--variable-collection-whit);
    font-family: Noyland;
    font-weight: 700;
    background-color: var(--brown);
    font-size: 28px;
    text-align: center;
    border-radius: 20px;
    padding:5px;
    margin: 25px auto 0;

}
div .MainMenuBtn {
    color: var(--variable-collection-whit);
    font-family: Noyland;
    font-weight: 700;
    background-color: var(--green);
    font-size: 28px;
    text-align: right;
    border-radius: 20px;
    padding: 5px;
    padding-right: 25px;
    padding-left: 25px;
    margin: 25px auto 0;
    margin-right:10px;
    margin-left:10px;

}
div .MainMenuCloseBtn {
    color: var(--variable-collection-whit);
    font-family: Noyland;
    font-weight: 700;
    background-color: var(--variable-collection-light-green);
    font-size: 28px;
    text-align: right;
    border-radius: 20px;
    padding: 5px;
    padding-right: 25px;
    padding-left: 25px;
    margin: 25px auto 0;
    margin-right: 10px;
    margin-left: 10px;
}
div .MainMenuTitle {
    color: var(--brown);
    font-family: Noyland;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    padding: 5px;
    margin: 25px auto 0;
}
span.MainMenuIcon {
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    padding-top:2px;
    padding-left:5px;
}
img.MainMenuIcon {
    height: 24px;
    float: left;
    padding-top: 2px;
}
div.OrderTrackItem{
    overflow:auto;
    padding:5px;
    margin:5px;
    text-align:center;
    border-bottom:1px dashed var(--brown);
}
div.OrderInfBtn{
    background-color:var(--brown);
    color:#fff;
    border-radius:50%;
    padding:5px;
    font-size:12px;
    height:15px;
    width:15px;
    line-height:18px;
    margin-left:15px;
}
div.LogOffBtn{
    font-size:14px;
    color:var(--brown);
    margin:0;
    overflow:auto;
    font-weight:normal;
    cursor:pointer;
}
div.OrderStatusInfoDiv {
    font-size: 20px;
    color: var(--green);
    background-color:#fff;
    margin: 10px;
    padding: 10px;
    overflow: auto;
    font-weight: normal;
    border-radius:20px;
}
.copyDisc {
    position: fixed;
    bottom: 20px;
    left: 50%; /* push to middle */
    transform: translateX(-50%); /* pull back half width */
    color: var(--green);
    font-family: Noyland;
    font-size: 14px;
    text-align: center;
}

button.ThankYouBtn {
    margin-top: 30px;
    border-radius: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 24px;
    color: #fff;
    background-color: #ab6c00;
    font-family: Noyland;
    text-align: center;
    border: 0;
    width:60%;
}

div.ThankYouPageTitle {
    overflow:hidden;
    text-align: center;
    font-size: 70px;
    margin-top: 50px;
    font-weight: 700;
    color: #0d4133;
    font-family:'Noyland 2.0 AAA';
  line-height:50px;

}

div.ThankYouPageMainTxt {
    text-align: center;
    font-size: 18px;
    color: #000;
    margin-top: 30px;
}

div.ThankYouPageBotTxt {
    margin-top: 30px;
    text-align: center;
    font-size: 24px;
    color: var(--green);
    font-weight:bold;
}

div.ThankYouPageBotSubTxt {
    color: var(--brown);
}
img.ThankYouPageImg {
    width: 250px;
    max-height: 250px;
    
}
img.ThankYouPageImg2 {
    width: 200px;
    max-height: 200px;

}
div.loginHeader {
    margin: 5px;
    padding: 5px;
    font-size: 24px;
    color: rgba(171, 108, 0, 1);
    font-weight: bold;
}
div.loginQuestion {
    margin: 5px;
    padding: 5px;
    font-size: 22px;
    color: rgba(171, 108, 0, 1);
    text-align:right;
    line-height:40px;
}
button.RegBigBtn {
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    background-color: rgba(13, 65, 51, 1);
    color:#fff;
    border: 0;
    border-radius: 5px;
    text-align: center;
    font-family:Noyland;
}
button.LoginBigBtn {
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    background-color: rgba(13, 65, 51, 1);
    color: #fff;
    border: 0;
    border-radius: 5px;
    text-align: center;
    font-family: Noyland;
    border-radius:20px;
    width:90%;
}

div.regErrMsg2 {
    overflow: auto;
    color: red;
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    text-align: center
}


div .DataFormBg {
    overflow: auto;
    margin-top: 5px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 20px;
    text-align: right;
    font-family: Noyland;
    font-size: 24px;
}
img.ProdImgs {
    width: 165px;
    height: auto;
    max-height: 140px;
    border-radius: 20px;
    background-color:rgba(255, 255, 255, 1);
    margin:5px;
 
 
}

div.FbStar{
    
    padding:5px;
    margin:5px;
    font-size:30px;
    float:left;
    color:var(--background);
}

button.FbStar{
    
    padding:0;
    margin-right:1px;
    margin-left:1px;
    font-size:24px;
    
    color:var(--background);
    background:transparent;
    border:0;
}

button.FbStarOn{
    
    padding:0;
    margin-right:1px;
    margin-left:1px;
    font-size:24px;
    
    color:var(--brown);
    background:transparent;
    border:0;
}

    button.FbStar:hover {
        color: var(--variable-collection-light-green);
    }

img.FbImg{
    border-radius:20px;
    width:400px;
    height:auto;
}

textarea.FbComments{
    font-size:16px;
    resize:none;
    margin:5px;
    padding:10px;
    color:var(--green);
    width:90%;
    border-radius:20px;
    font-family:Noyland;
    border:2px dotted var(--background);
}

    textarea.FbComments::placeholder {
        color: var(--variable-collection-light-green);
        text-align: center;
    }

div.fbContact{
    float:right;
    margin:5px;
    padding:5px;
    color:var(--variable-collection-light-green);
    font-size:16px;
    font-weight:bold;
}

div.floatingGrnBg {
    height: 300px;
    background-color: var(--green);
    position:fixed;
    width:100%;
    z-index:0;
}

div.StrainInfoTitle {
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: bold;
    font-family: Noyland;
    padding-top:5px;
    margin: 0;

}
div.StrainIntroSubMsg {
    color: var(--background);
    font-size: 16px;
    font-weight: normal;
    font-family: Noyland;
    margin: 5px;
}

div.StrainDesc {
    color: var(--brown);
    font-size: 16px;
    font-weight: normal;
    font-family: Noyland;
    margin: 10px;
    padding:5px;
    text-align:right;
}
div.fbItem{
    padding:5px;
    margin:5px;
    background-color:#fff;
    border-radius:10px;
    font-size:16px;
    color:#000;
    text-align:right;
}
span.fbNick {
    float: right;
    padding: 5px;
    color:var(--brown);
}
span.fbRating {
    float: left;
    padding: 5px;
}
div.fbInfo{
    clear:both;
    overflow:auto;
    padding-right:5px;
    font-size:14px;
}
span.fbStarRating {
    padding: 0;
    margin: 0;
    font-size:14px;
}
span.fbStrainTitle {
    color: var(--green);
    padding:2px;
    margin:1px;
    font-size:18px;
    font-weight:bold;
}
span.fbTime{
    font-size:14px;
    color:var(--variable-collection-light-green);
    float:left;
    padding:5px;
}
div.forgotPw {
    overflow:auto;
    font-size:14px;
    color:blue;
    padding-right:10px;
    padding-bottom:10px;
}

img.PInfoIcon {
    float: right;
    height: 30px;
    max-width: 30px;
    padding: 5px;
    padding-top: 10px;
    margin: 5px;
}
span.PInfoIcon {
    float: right;
    font-size: 30px;
   padding-top:5px;
    margin: 5px;
}

input.infUpdate_tb {
    padding: 10px;
    margin: 10px;
    font-size: 24px;
    width: 50%;
    border-radius: 20px;
    border: 0;
    font-family: Noyland;
    background-color: var(--background);
    color: var(--brown);
    font-weight: normal;
}

    input.infUpdate_tb::placeholder {
        color: var(--variable-collection-light-green);
        font-weight: normal;
    }

button.infUpdateBtn {

    padding: 0;
    background-color: var(--brown);
    margin: 15px;
    font-size: 22px;
    border: 0;
    float: left;
    font-family: Noyland;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
}
button.infCancelBtn {
    padding: 0;
    padding-left: 10px;
    background-color: var(--variable-collection-light-green);
    margin: 15px;
    font-size: 22px;
    border: 0;
    float: left;
    font-family: Noyland;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    text-align:center;
}

img.infCancelBtn {
    height: 20px;
    margin:5px;
    
}

div.infUpdDisclaimer{
    overflow:auto;
    font-size:14px;
    color:var(--variable-collection-light-green);
    text-align:center;
    margin-top:10px;

}
button.infDelBtn {
    padding: 0;
    padding-left: 10px;
    background-color: #f00;

    font-size: 22px;
    border: 0;
    float: left;
    font-family: Noyland;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    text-align: center;
}

div.AddAddressDiv{
    padding:5px;
    margin:5px;
    color:var(--green);
    font-size:18px;
}