/*
font-family: 'Tahoma', sans-serif;
*/

body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #2B2A29;
    font-family: 'Tahoma', sans-serif;
}

a, button {
    outline: none !important;
    text-decoration: none;
    box-shadow: none;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

    a:hover, a:focus, select:focus, button:focus, .btn:focus, btn.focus {
        outline: none;
        text-decoration: none;
        box-shadow: none;
    }

* {
    margin: 0;
    padding: 0;
}

img {
    border: none;
    vertical-align: middle;
    max-width: 100%;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    outline: none !important;
}

input, select, textarea, button {
    outline: none !important;
    box-shadow: none;
}

input, textarea, select { /*-moz-appearance: none; -webkit-appearance: none;*/
    box-shadow: none !important;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

/**index page**/
.hero_sec {
    width: 100%;
    float: right;
    margin: 0 auto;
    padding: 0;
    background: url('../images/mainbg.png');
    background-repeat: repeat;
    background-size: cover;
    background-position: top center;
    padding-bottom: 500px;
}

.logo {
    width: 100%;
    float: right;
    margin: 50px auto 0;
    padding: 0;
    text-align: center;
}

.caption {
    width: 100%;
    float: right;
    margin: 200px auto 0;
    padding: 0;
}

    .caption h1 {
        font-family: 'Tahoma', sans-serif;
        font-weight: normal;
        font-size: 76px;
        line-height: 102px;
        margin: 0;
        text-align: center;
        padding: 0;
        color: #fefefe;
        letter-spacing: 1.52px;
        margin-bottom: 50px;
    }

        .caption h1 strong {
            font-size: 114px;
            line-height: 102px;
            color: #fefefe;
            clear: both;
            font-weight: bold;
            letter-spacing: 2.28px;
            display: block;
        }

    .caption a {
        font-size: 33px;
        line-height: 80px;
        font-weight: 400;
        color: #d9e9e0;
        background: #0b0101;
        cursor: pointer;
        outline: 0;
        border: none;
        text-align: center;
        border-radius: 40px;
        display: table;
        width: 350px;
        max-width: 350px;
        margin: 0 auto;
        letter-spacing: 0.66px;
    }

        .caption a:hover {
            color: #0b0101;
            background: #d9e9e0;
        }



/**welcome page**/
.wel_sec {
    width: 100%;
    float: right;
    margin: 0 auto;
    padding: 0 0 10px;
    background: url('../images/form_bg.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
}

.center_wel {
    max-width: 485px;
    margin: 10px auto 0;
    display: table;
}

.wel_sec .caption {
    width: 100%;
    float: right;
    margin: 0px auto 60px;
    padding: 0;
}

    .wel_sec .caption h1 {
        color: #dfffbd;
        margin: 0px;
        padding: 5px 0 28px;
        font-size: 68px;
        line-height: 90px;
        letter-spacing: 1.36px;
        position: relative;
    }

        .wel_sec .caption h1 strong {
            color: #dfffbd;
            font-size: 102px;
            line-height: 90px;
            letter-spacing: 2.04px;
        }

        .wel_sec .caption h1:before {
            content: '';
            width: 100%;
            height: 3px;
            background: url('../images/line.png');
            background-position: top;
            background-size: 100%;
            position: absolute;
            top: 0;
            right: 0;
        }

        .wel_sec .caption h1:after {
            content: '';
            width: 100%;
            height: 3px;
            background: url('../images/line.png');
            background-position: top;
            background-size: 100%;
            position: absolute;
            bottom: 0;
            right: 0;
        }

.menubtn {
    width: 100%;
    display: table;
    margin: 0 auto;
    max-width: 370px;
    padding: 0;
}

    .menubtn ul {
        width: 100%;
        float: right;
        margin: 0 auto;
        padding: 0;
        list-style: none;
    }

        .menubtn ul li {
            width: 100%;
            float: right;
            margin: 0 auto 28px;
            padding: 0;
            list-style: none;
        }

            .menubtn ul li:last-child {
                margin-bottom: 0px;
            }

            .menubtn ul li a {
                font-size: 35px;
                line-height: 90px;
                font-weight: 400;
                color: #dfffbd;
                background: transparent;
                cursor: pointer;
                outline: 0;
                border: none;
                text-align: center;
                border-radius: 50px;
                display: table;
                width: 100%;
                max-width: 100%;
                margin: 0 auto;
                letter-spacing: 0.7px;
                border: 3px solid #dfffbd;
            }

                .menubtn ul li a:hover {
                    color: black;
                    background: #dfffbd;
                }

.ft_bot {
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: relative;
    top: 40px;
}

    .ft_bot .container {
        width: 90%;
        margin: 0 auto;
        padding: 0;
        max-width: 40%;
        display: flex;
        align-items: flex-end;
    }

.s_left {
    width: 50%;
    float: left;
    margin: 0 auto;
    padding: 0;
}

    .s_left li {
        width: auto;
        float: left;
        margin: 0 29px 0 0;
        padding: 0;
    }

        .s_left li:last-child {
            margin-right: 0px;
        }

        .s_left li a {
            display: inline-block;
            cursor: pointer;
        }

.s_right {
    width: 50%;
    float: right;
    margin: 0 auto;
    padding: 0;
    text-align: right;
}

    .s_right a {
        display: inline-block;
        cursor: pointer;
    }

/**Registration page**/
.reg_sec {
    width: 100%;
    float: right;
    margin: 0 auto;
    padding: 0px;
    background: url('../images/form_bg.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
}

.iner_cont {
    max-width: 565px;
    margin: 40px auto 0;
    display: table;
    padding: 80px 60px 20px;
    background: rgba(255,255,255,0.97);
    border-radius: 5px;
}

.simg {
    text-align: center;
}

.iner_cont h1 {
    font-size: 38px;
    line-height: 38px;
    color: #231f20;
    font-weight: bold;
    margin: 0 0 35px;
    text-align: center;
    letter-spacing: 0.76px;
}

.tx_block {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

    .tx_block p {
        font-size: 26px;
        line-height: 36px;
        letter-spacing: 0.52px;
        margin: 0 auto 34px;
        font-weight: 400;
        width: 97%;
        color: #231f20;
    }

.btn_block {
    max-width: 456px;
    margin: 0 auto;
}

    .btn_block a {
        font-size: 36px;
        line-height: 50px;
        font-weight: bold;
        color: #231f20;
        padding: 0px;
        background: transparent;
        border: 3px solid #000000;
        border-radius: 10px;
        box-shadow: 5px 9px 8px 0px rgba(5, 3, 4, 0.17);
        margin-left: 6%;
        width: 206px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        letter-spacing: 0.76px;
    }

        .btn_block a:last-child {
            margin-left: 0px;
        }

        .btn_block a:hover {
            background: #000000;
            color: rgba(255,255,255,0.97);
        }

/**content page**/
.cont_sect {
    background: url('../images/form_bg.jpg');
    padding: 0 0 90px;
}

    .cont_sect .iner_cont h1 {
        text-align: right;
        margin: 0 auto 30px;
    }

    .cont_sect .iner_cont {
        padding: 35px 60px 110px;
        background: rgba(255,255,255,0.86);
    }

    .cont_sect .tx_block {
        margin: 50px 0 0;
        text-align: right;
    }

        .cont_sect .tx_block p {
            width: 100%;
            margin: 0 auto;
        }

/**Form page**/
.form_sec {
    background: url('../images/form_bg.jpg');
    background-repeat: repeat;
    padding: 50px 0 80px;
}

.form_wel {
    max-width: 385px;
    margin: 0px auto 0;
    display: table;
}

    .form_wel .caption {
        width: 100%;
        float: right;
        margin: 0px auto 55px;
        padding: 0;
    }

        .form_wel .caption h1 {
            color: #dfffbd;
            margin: 0px;
            padding: 5px 0 28px;
            font-size: 55px;
            line-height: 79px;
            letter-spacing: 2.24px;
            position: relative;
        }

            .form_wel .caption h1 strong {
                color: #dfffbd;
                font-size: 84px;
                line-height: 79px;
                letter-spacing: 1.68px;
            }

            .form_wel .caption h1:before {
                content: '';
                width: 100%;
                height: 3px;
                background: url('../images/line.png');
                background-position: top;
                background-size: 100%;
                position: absolute;
                top: 0;
                right: 0;
            }

            .form_wel .caption h1:after {
                content: '';
                width: 100%;
                height: 3px;
                background: url('../images/line.png');
                background-position: top;
                margin-top: 25px;
                background-size: 100%;
                position: absolute;
                bottom: 0;
                right: 0;
            }

.f_details {
    width: 100%;
    clear: both;
}

    .f_details form {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        padding: 0;
    }

        .f_details form input {
            font-size: 28px;
            line-height: 45px;
            background: #f8f8f8;
            border: none;
            color: #231f20;
            outline: 0;
            border-radius: 5px;
            font-family: 'Tahoma', sans-serif;
            clear: both;
            display: block;
            padding: 0 20px 0 7px;
            margin: 0 0 25px;
            font-weight: 400;
            box-shadow: -1px 9px 0px 0px rgba(14, 4, 4, 1) !important;
            border: 1px solid #c6c6c6;
            width: 90%;
        }

        .f_details form textarea {
            font-size: 28px;
            line-height: 45px;
            background: #f8f8f8;
            border: none;
            color: #231f20;
            outline: 0;
            border-radius: 5px;
            font-family: 'Tahoma', sans-serif;
            clear: both;
            display: block;
            padding: 0 20px 0 7px;
            margin: 0 0 25px;
            font-weight: 400;
            box-shadow: -1px 9px 0px 0px rgba(14, 4, 4, 1) !important;
            border: 1px solid #c6c6c6;
            resize: none;
            width: 90%;
        }

        .f_details form input[type='checkbox'] {
            padding: 5px;
            margin: 5px;
            float: right;
            width: 20px;
            height: 20px;
        }

        .f_details form input[type='radio'] {
            padding: 5px;
            margin: 5px;
            float: right;
            width: 20px;
            height: 20px;
            box-shadow: none;
            background: transparent !important;
        }

.box_details {
    width: 100%;
    clear: both;
    background-color: #fff;
    padding: 5px;
    padding-bottom: 15px;
    margin: 5px;
    border-radius: 5px;
    max-width: 350px;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #231f20;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #231f20;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #231f20;
}

:-moz-placeholder { /* Firefox 18- */
    color: #231f20;
}


.select1 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    box-shadow: -1px 9px 0px 0px rgba(14, 4, 4, 1) !important;
    background: #5c6664;
    flex: 1;
    color: #231f20;
    cursor: pointer;
    font-size: 1em;
    width: 349px;
    height: 45px;
    font-size: 28px;
    line-height: 45px;
    background: #f8f8f8;
    border-radius: 5px;
    font-family: 'Tahoma', sans-serif;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    padding: 0 20px 0 7px;
    margin: 0 0 25px;
    background: url('../images/selectarrow.png') no-repeat #f8f8f8;
    background-position: 10px 14px;
}

    .select1::-ms-expand {
        display: none;
    }

    .select1:focus {
        background: url('../images/selectarrowopen.png') no-repeat #f8f8f8;
        background-position: 10px 14px;
    }


input.PropSelector {
    padding: 5px;
    margin-top: 5px;
    font-size: 18px;
    width: 70%;
    font-weight: bold;
    float: left
}


select.QuanSelector {
    padding: 2px;
    margin: 2px;
    font-size: 16px;
    font-weight: bold;
}

select.PropSelector {
    padding: 5px;
    margin-top: 5px;
    font-size: 18px;
    width: 70%;
    font-weight: bold;
    float: left
}

    select.PropSelector::-ms-expand {
    }

    select.PropSelector:focus {
    }

select.A {
    padding: 5px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}




.b_d {
    width: 100%;
    margin: 15px 0 0;
    clear: both;
}

    .b_d .re {
        font-size: 23px;
        line-height: 40px;
        color: #ffffff;
        letter-spacing: 0.46px;
        margin: 0;
        width: 150px;
        background: url('../images/p_btn.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 5px;
        box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
        border: 1px solid #a2202a;
        font-family: 'Tahoma', sans-serif;
        font-weight: bold;
        cursor: pointer;
        text-shadow: 1px 1px 0px rgba(81, 133, 14, 1);
        float: right;
    }

    .b_d .sub {
        font-size: 23px;
        line-height: 40px;
        color: #ffffff;
        letter-spacing: 0.46px;
        margin: 0;
        width: 150px;
        background: url('../images/g_btn.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 5px;
        box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1);
        border: 1px solid #3a9a00;
        font-family: 'Tahoma', sans-serif;
        font-weight: bold;
        cursor: pointer;
        text-shadow: 1px 1px 0px rgba(81, 133, 14, 1);
        float: left;
    }

.re:hover, .sub:hover {
    background: #dfffbd;
    color: #231f20;
    border: 1px solid #231f20;
    text-shadow: none;
}

.form_ft_top {
    position: absolute;
    width: 272px;
    margin: 0 auto;
    top: 29px;
    left: 90px;
}

    .form_ft_top .container {
        display: table;
        width: 100%;
    }

    .form_ft_top .s_right {
        float: left;
        text-align: left;
    }

        .form_ft_top .s_right img {
            max-width: 90px;
        }

    .form_ft_top .s_left {
        margin: 30px auto 0;
        float: right;
        text-align: right;
    }

        .form_ft_top .s_left li {
            margin: 0 0 0 29px;
        }

            .form_ft_top .s_left li:last-child {
                margin-right: 0px;
            }

        .form_ft_top .s_left img {
            height: 45px;
            width: auto;
        }


/* General Styles
---------------------------------*/


.spinner {
    width: 70px;
    text-align: center;
}

    .spinner > div {
        width: 14px;
        height: 14px;
        background-color: #808080;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

button.accordion.active, button.accordion:hover {
    background-color: #fff;
    border: 0;
}

button.accordion:after {
    content: '';
    color: #57d600;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    background-color: #fff;
}

button.accordion.active:after {
    content: "";
    background-color: #fff;
}

div.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

div.tooltip {
    overflow: auto;
    font-size: 14px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #dfffbd;
    border-radius: 5px;
    color: black;
    width: 90%;
}

div.fldLabel {
    overflow: auto;
    color: black;
    font-size: 18px;
    padding: 0;
    font-weight: bold;
}

div.infLabel {
    overflow: auto;
    color: #000;
    font-size: 22px;
    padding: 0;
    margin-bottom: 10px;
}

div.infLabelTitle {
    overflow: auto;
    font-size: 15px;
    color: rgba(81, 133, 14, 1);
    ;
}

div.errBox {
    overflow: auto;
    font-size: 18px;
    color: red;
    text-align: right;
    background-color: #dfffbd;
    padding: 5px;
    padding-right: 15px;
    margin: 5px;
    border-radius: 5px;
    display: none;
}

div.langChanger {
    overflow: auto;
    color: #dfffbd;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

span.reqField {
    color: red;
    font-weight: 700;
    font-size: 14px;
}

div.A {
    overflow: auto;
    margin: 5px;
    padding: 5px;
}

div.B {
    overflow: auto;
}

div.PropTitle {
    font-size: 14px;
    font-weight: bold;
    float: right;
    padding: 5px;
}

div.PropRow {
    overflow: auto;
    border-bottom: 1px dotted #808080;
}

div.OrderFormItem {
    overflow: auto;
    font-size: 16px;
}

div.OrderFormInfoItem {
    overflow: auto;
    font-size: 16px;
    border-bottom: 1px dotted #808080;
}

div.OrderFormPrice {
    float: left;
    font-size: 14px;
}

div.CartInfoItem {
    overflow: auto;
    font-size: 14px;
    border-bottom: 1px dotted #808080;
}

div.CartPrice {
    float: left;
    font-size: 12px;
}

span.MiniTag {
    font-size: 11px;
}

span.MegaTag {
    font-size: 18px;
}


span.Clickable:hover {
    cursor: pointer;
}

div.SettingsLbl {
    overflow: auto;
    float: right;
    padding-right: 5px;
    margin-right: 5px;
}

input.A {
    padding: 5px;
    font-size: 16px;
}

button.A {
    padding: 5px;
    margin: 5px;
    font-size: 16px;
}

button.SettingsRawBtn {
    padding: 5px;
    font-size: 16px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

button.CartSettingsBtn {
    font-size: 14px;
    padding: 5px;
    margin-top: 15px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}

div.SettingsRawActive {
    overflow: auto;
    margin: 5px;
    padding: 5px;
    background-color: #e3e3e3;
    border-bottom: 2px dotted #e3e3e3;
}

    div.SettingsRawActive:hover {
        background-color: #dfffbd;
    }

div .SettingsRaw {
    overflow: auto;
    margin: 5px;
    padding: 5px;
    border-bottom: 2px dotted #e3e3e3;
}

    div.SettingsRaw:hover {
        background-color: #ffffcc;
        border-bottom: 2px dotted #808080;
    }

span.CartBtn {
    float: left;
    font-size: 8px;
    border-radius: 50%;
    background-color: #e3e3e3;
    margin-top: 5px;
    cursor: pointer
}

    span.CartBtn:hover {
        background-color: #ffffcc;
        border: 1px solid #808080;
    }

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.heart {
    font-size: 30px;
    color: #e00;
    animation: beat .50s infinite alternate;
    transform-origin: center;
    z-index: 9999;
}

/* Heart beat animation */
@keyframes beat {
    to {
        transform: scale(1.4);
    }
}



