@page
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
   // if (!WebSecurity.IsAuthenticated) { Response.Redirect("/Login"); }
    string username = WebSecurity.CurrentUserName;
    int u_id = WebSecurity.CurrentUserId;
    var db = Database.Open("faysal");
    var user = db.QuerySingle("SELECT member_nick FROM Users WHERE u_id=@0", u_id);
    string member_nick = ""; try{ member_nick = user.member_nick; }catch{ member_nick = username; }
    Layout = "~/Pages/Shared/Layouts/_Main.cshtml";

    HttpContextAccessor.HttpContext!.Session.SetString("lang", "he");
    HttpContextAccessor.HttpContext!.Session.SetString("member_nick", member_nick);

}

<input type="hidden" name="starterpage" id="starter_page" value="go_to" />

<section class="wel_sec" style="text-align:center">
    <div class="container" >
        <center>
            <div class="top_spacer"></div>

            @if (u_id > 0)
            {
                <div class="mainGreet">
                    שלום @member_nick
                    <div class="LogOffBtn" onclick="AjaxActions('Logout');">התנתקות</div>

                </div>
            }
            else
            {
                <div class="mainGreet">
                    שלום אורח.ת!
                    <div class="LogOffBtn" onclick="window.location.href='/Login'">התחברות</div>

                </div>
            }

            <img class="logo" style="margin:5px;" src="images/newlogo.png" />
            <div class="HomeSlogan">פייסלים פרימיום
                <div class="HomeSubSlogan">בעבודת יד ובהתאמה אישית</div>
            </div>
            <img class="group" src="images/group.png" />
            <div class="HomeSlogan2">
                מגלגלים אורזים ושולחים
                <div class="HomeSubSlogan2">מזמינים היום מקבלים מחר
            </div>

                <div class="HomeBtn" onclick="PageLoad('ORDERS');" style="display:none;">הזמנה חדשה &gt;</div>
                <div class="HomeBtn" onclick="sbload('MainMenu','Caller?p1=MainMenu');">מתחילים כאן &gt;</div>
            </div>

        </center>
    </div>

</section>
