@page "/Main2"
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    Layout = "~/Pages/Shared/Layouts/_Main.cshtml";
    string ref_id = "0"; try { ref_id = HttpContext.Session.GetString("ref_id"); } catch { }
    string aff_id = ""; try { aff_id = HttpContext.Session.GetString("aff_id"); } catch { }
    string go_to = ""; try { go_to = HttpContext.Session.GetString("go_to"); } catch { }
    HttpContextAccessor.HttpContext!.Session.SetString("lang", "he");

}

<input type="hidden" name="starterpage" id="starter_page" value="@go_to" />
<div style="display:none">SES: @ref_id aff: @aff_id goto: @go_to</div>

<div class="MEGALGELIM-OPEN-ZAN" data-model-id="47:23813">
      <div class="div">
        <div class="text-wrapper">פייסלים למביני עניין</div>
        <img class="logo" src="images/logo.png" />
        <img class="group" src="images/group.png" />
        <div class="frame">
          <p class="element">מגלגלים אורזים ושולחים<br />עד הבית תוך 24 שעות</p>
          <div class="div-wrapper"><div class="text-wrapper-2">הזמנות כאן</div></div>
        </div>
      </div>
    </div>

