@page "/Main"
@using Microsoft.AspNetCore.Http

@{
    Layout = "~/Pages/Shared/Layouts/_Members.cshtml";
    string ref_id = ""; try { ref_id = HttpContext.Session.GetString("ref_id"); } catch { }
    string aff_id = ""; try { aff_id = HttpContext.Session.GetString("aff_id"); } catch { }
    string go_to = ""; try { go_to = HttpContext.Session.GetString("go_to"); } catch { }
}

<input type="hidden" name="starterpage" id="starter_page" value="@go_to" />
<div style="display:none">SES: @ref_id aff: @aff_id goto: @go_to</div>

<section class="wel_sec">
    <div class="container">
        <div class="center_wel">
            <img src="/images/israel.png" />
            <div class="welsc caption">
                <h1>专 <strong>转专转</strong></h1>
                <span style="z-index:9999;font-size:16px;color:white;float:left;padding-left:10px;direction:ltr" onclick="window.location.href = 'MainEng';">
                    <span>  </span>For English, click here
                </span>
                <span style="z-index:9999;font-size:16px;color:white;float:right;padding-right:10px;direction:ltr" onclick="sbload('MainSb','Contact?ref_id=@ref_id');">
                    爪专转 拽砖专<span>  </span>
                </span>
            </div>
            <div class="menubtn">
                <ul>
                    <li><a href="#" onclick="sbload('MainSb','Register_statement_he_1?ref_id=@ref_id');">爪专驻转</a></li>
                    <li><a href="#" onclick="controller.open('MahWorld'); currentlyOpenSidebar = 'MahWorld'; ">转驻专</a></li>
                    <li><a href="#" onclick="sbload('MainSb','order?ref_id=@ref_id');">爪注 </a></li>
                    <li><a href="#" onclick="controller.open('ordTrack'); currentlyOpenSidebar = 'ordTrack'; ">注拽 砖</a></li>
                    <li><a href="#" onclick="sbload('MainSb','orderFeedback?ref_id=@ref_id');">砖 </a></li>
                    <li><a href="#" onclick="sbload('MainSb','newsLetterPref?ref_id=@ref_id');">专砖转 转驻爪</a></li>
                    <li><a href="#" onclick="sbload('MainSb','updatePersonalInfo?ref_id=@ref_id');">注 驻专</a></li>
                    <li><a href="#" onclick="sbload('MainSb','JobApp?ref_id=@ref_id');">注 转专转</a></li>
                    <li><a href="#" onclick="controller.open('comKop'); currentlyOpenSidebar = 'comKop'; ">拽驻转 拽</a></li>
                    <li><a href="#" onclick="sbload('MainSb','About_Heb');">转</a></li>
                    <li><a href="#" onclick="sbload('MainSb','Imposters_Heb');">专 拽!</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ft_bot">
        <div class="container">
            <div class="s_right">
                <img src="/images/ftlogo.png" alt="Hamachteret" />
            </div>
            <div class="s_left">
                <ul>
                    <li><a href="http://instagram.com/A_mahteret" target="_blank"><img src="/images/instagram.png" alt="instagram" /></a></li>
                    <li><a href="https://www.facebook.com/转专转-100417308826857" target="_blank"><img src="/images/facebook.png" alt="facebook" /></a></li>
                </ul>
            </div>
        </div>
        <div class="login-help"><br />
            <center><span style="color:white"><span onclick="sbload('MainSb','prorder?ref_id=@ref_id');">2025</span> &copy; 注专转 砖专</span></center>
        </div>
    </div>
</section>